body {
    text-align: center;
    background-color:hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;

}

.container {
    width: 300px;
    height: 500px;
    background-color: white;
    margin: auto;
    border-radius: 4%;
    margin-top: 125px;
}
.scanner {
    height: 270px;
    width: 270px;
    border-radius: 3%;
    margin-top: 14px;
}
.bolding {
    font-weight: 700;
    font-size: 20px;
    margin: 20px 20px;
}
.regular {
    margin: 20px 20px;
    font-weight: 400;
    font-size: 15px;
    color:hsl(220, 15%, 55%);
}
.footer {
    position: relative;
    top: 100px;
    
}
